@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Jolly+Lodger&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Puddles&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Jolly Lodger', system-ui;
  font-weight: bolder;
}

:root {
  --color-green: #80ff00;
  --color-blue: #00bfff;
  --color-yellow: #ffff00;
  --color-pink: #ff1492;
  --color-dark: #3d3e42ef;
  --padding-s: 15px;
  --padding-m: 25px;
  --padding-l: 30px;
  --margin-s: 15px;
  --margin-m: 25px;
  --margin-l: 30px;
}

body {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/bgd.gif');
  background-size: contain;
  opacity: 0.2 rgb(50, 48, 48);
  position: relative;
}
